@import"../scss_shab/media769/media769-topHP.scss";
.vi-top{
	padding: toRem(100) 0;


	
	.vi-graphics{
		&__backgroundimg{
			bottom: - toRem(200);
    		z-index: -1;
			left: unset;
			top: unset;
		}
	}


	&__inner {
		padding-bottom: toRem(32);
	}

	&__item:nth-child(1) {
		width: 100%;
		text-align: center;
		.vi-slogan{
			&__tittle {
				width: fit-content;
				margin: 0px auto;
			}
			
		}
		
	}
}