@import"../scss_shab/media993/media993-whychooseusHP.scss";
.vi-whychooseus{
	&__picmobile {
		left: - toRem(5);
    	top: toRem(24);
		

	}
	&__videomobile{
		left: toRem(240);
		bottom: toRem(65);
	}

}

