@import"../scss_shab/media993/media993-aboutusHP.scss";
.vi-aboutus{
	padding: unset;
	.vi-graphics{
		&__background {
			top: 723px;
			right: unset;
		}
		&__shining-desktop{
			right: toRem(80);
			margin-right: toRem(80);
			margin-left: unset;
			
		}
		&__shining-mobile{
			bottom: - toRem(770);
		}

	}
	&__inner{
		flex-direction: column-reverse;
		gap: unset;
	}
	&__pic{
			right: toRem(45);
			top: -55px;
			left: unset;
		
	}
	&__picmobile{
		top: - toRem(24);
    	right: unset;
		margin: 0px auto;
	}
	
	&__item:nth-child(1){
		width: 100%;
	}
	&__item:nth-child(2){
		width: 100%;
		.vi-slogan{
			&__tittle{
				width: 100%;
			}
			&__description{
				width: 100%;
				height: 300px;
			}
			&__list{
				display: none;
			}
		}
		.vi-button{
			display: none;
		}
	}
	&__video{
		right: 300px;
	}
	&__videomobile{
	
		right: toRem(270);
		bottom: - toRem(23);

	}
}