h2{
	@include Heading_2;
}

.vi-ourpricing {
	padding: toRem(100) 0 toRem(150);
	.vi-graphics{

		&__shining-desktop{
			top: toRem(100);
			margin: 0px toRem(240);
			filter: blur(105px);

		}
	}
	&__inner {
		gap: toRem(40);
	}
	
	&__item:nth-child(1){
		.vi-slogan{
			display: flex;
			flex-direction: column;
			gap: toRem(12);
			&__subtitle{
				@include Caption_1;
				color: #0CBAF1;

			}

			&__tittle{
				
				color: #FFF;

			}
			&__description{
				@include Body_1;
				color:  #D1D1D1;
				padding-top: toRem(2);

			}
		}
	}

	&__item:nth-child(2){
		.vi-benefits{
	
			&__item:nth-child(1){	
				padding: toRem(55) toRem(118) toRem(55) toRem(42);
			}
		
	
			&__li{
				margin-bottom: toRem(32);

			}
			&__tittle{
				font-size: toRem(18);
			}
			&__description{
				font-size: toRem(16);
				line-height: toRem(28); 
			}
			&__container{
				gap: toRem(12);
    			margin-left: toRem(58);
			}
			&__pic-mobile{
				display: none;
			}
			.vi-price{
				padding: toRem(20) 0 toRem(18) 0 ;
				bottom: - toRem(42);
				left: - toRem(93);
				&__tittle{
					font-size: toRem(14);
					line-height: toRem(20);
				}
				&__description{
					font-size: toRem(60);
					line-height: toRem(66); 
    				margin: 0 auto toRem(14) auto;
				}
				&__remark{
					font-size: toRem(12);
					line-height: toRem(20); 
					margin-top:toRem(14) ;
				}
				.vi-button{
					background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
					padding: toRem(18) toRem(38);
					@include Button_1;
					color: #fff;
				}

			}

		}
		
	}
	
}
