
.vi-ourarticles {
	position: relative;

	.vi-graphics {
		position: relative;

		&__shining-desktop {
			position: absolute;
		}

		&__shining-mobile {
			position: absolute;
			display: none;
			width: 203px;
			height: 464px;
			transform: rotate(-90deg);
			background: linear-gradient(135deg, rgba(28, 196, 249, 0.80) 0%, rgba(254, 105, 254, 0.80) 100%);

		}

		&__backgroundimg {
			position: absolute;
			height: 705px;
			width: 100%;
			background-repeat: no-repeat;
		}
	}

	.vi-slogan {
		&__subtitle {
			position: relative;
			display: block;
		}

		&__tittle {
			position: relative;
		}
	}

	&__inner {
		position: relative;
	}

	&__item {
		position: relative;
	}

	

	.vi-overview {
		display: flex;

		&__item:nth-child(1) {
			position: relative;
			z-index: 11;
		}

		&__item:nth-child(2) {
			position: relative;
			z-index: 10;
			display: flex;
			flex-direction: column-reverse;
			align-items: end;

		}

		&__button {
			color: #FFF;
			text-align: center;
			font-family: Chakra Petch;
			font-style: normal;
			font-weight: 700;
			text-transform: uppercase;
			background: rgba(255, 255, 255, 0.06);
			width: fit-content;
			position: relative;
			border: 1px solid transparent;
			border-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
			border-image-slice: 1;
		}

		&__item {
			width: 50%;

			.vi-recent-box {
				width: 100%;
				background: #252532;
				height: auto;
				display: flex;
				flex-direction: column;
				position: relative;
				z-index: 10;

				&__inner {
					position: relative;
					overflow: auto;
					height: 440px;
				}

				&__name {
					color: #FFF;
					font-family: Chakra Petch;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}

				&__item {
					position: relative;
					border-bottom: 1px solid rgba(255, 255, 255, 0.15);

				}

				&__flex {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				&__image {
					position: relative;
				}

				&__badge {
					display: flex;
					flex-direction: column;
					width: 537px;
				}

				&__tittle {
					display: flex;
					justify-content: center;
					align-items: center;
					background: rgba(255, 255, 255, 0.30);
					color: #FFF;
					margin-right: auto;
					font-family: Chakra Petch;
					font-style: normal;
					font-weight: 500;
					cursor: pointer;
				}

				&__description {
					position: relative;
					color: #FFF;
					font-family: Chakra Petch;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}

				.vi-next-button {
					background: rgba(255, 255, 255, 0.06);
					border: 1px solid transparent;
					border-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
					border-image-slice: 1;

				}
			}

			.vi-recent-box__inner::-webkit-scrollbar {
				width: 2px;
			}

			.vi-recent-box__inner::-webkit-scrollbar-thumb {
				background-color: #f1f1f1;

				height: 31px;
			}

			.vi-recent-box__inner::-webkit-scrollbar-thumb:hover {
				background-color: green;
			}

			.vi-recent-box__inner::-webkit-scrollbar-track {

				background-color: #3f3e4c;
			}

			.vi-recent-box__inner::-webkit-scrollbar-button {
				display: none;
			}

			.vi-popular-box {
				position: relative;
				display: flex;
				flex-direction: column;
				z-index: 11;

				&__name {
					color: #FFF;
					font-family: Chakra Petch;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}

				&__inner {
					position: relative;
				}

				&__item {
					position: relative;
					height: 425px;
					background-repeat: no-repeat;
					background-size: cover;
				}

				&__flex {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				&__badge {
					display: flex;
					flex-direction: column;
				}

				&__tittle {
					background: rgba(255, 255, 255, 0.30);
					margin-right: auto;
					color: #FFF;
					text-align: center;
					font-family: Chakra Petch;
					font-style: normal;
					font-weight: 500;
				}

				&__description {
					color: #FFF;
					font-family: Chakra Petch;
					font-style: normal;
					font-weight: 600;
					line-height: normal;

				}

				.vi-next-button {
					border: 1px solid transparent;
					border-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
					border-image-slice: 1;
				}
			}


		}
	}

	.slick-slider {
		min-width: 0;
	}

	.slick-list {
		overflow: hidden;
	}

	.slick-track {
		display: flex;
		align-items: flex-start;
	}

	.slick-dots li {
		list-style: none;

		width: 9px;
		height: 3px;

	}

	.slick-dots li.slick-active {
		width: 17px;
	}

	.slick-dots li.slick-active button {

		opacity: unset;
		width: 26px;
		height: 3px;
	}

	.slick-dots button {
		font-size: 0;
		width: 9px;
		height: 3px;
		opacity: 0.2;
	}

	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		list-style: none;
		margin-block-start: unset;
		margin-block-end: unset;
		margin-inline-start: unset;
		margin-inline-end: unset;
		padding-inline-start: unset;
	}


}
@import"../scss_shab/styles/styles-PART_subscribe.scss";