body {
	font-size: toRem(16);
	font-style: normal;
	font-weight: 300;
	line-height: toRem(28);
}

.vi-wrapper {
	padding: 0 toRem(120);


	.vi-headcontainer {
		padding: toRem(31) 0;
	}
	&__desktopbg{
		display: block;

	}
	&__mobilebg{
		display: none;

	}
	&__deskt-top-bg{
		display: block;

	}
	&__mob-bg{
		display: none;

	}

}

.vi-headers {
	
	&__hamburger{
		display: none;
	}
	&__contactbutton{
		padding: toRem(12) toRem(24);
	}
}



.vi-menu {
	&__top {
		gap: toRem(64);
		@include Button_3;
	}

	&__item {
		gap: toRem(4);
	}
	
}