<div class="vi-faq">
	{% set active="vi-faq__item--active" %}
	{% set title="What is virtual reality?" %}
	{% set description="Virtual reality (VR) is a technology that uses headsets or other devices 
	to create a simulated environment. Users can interact with this environment 
	as if it were real, allowing for immersive experiences in gaming, education, 
	training, and more."  %}
	{% include 'template_faq_item.html' %}

	{% set active="" %}
	{% set title="What types of VR services do you offer?" %}
	{% set description="Virtual reality (VR) is a technology that uses headsets or other devices 
	to create a simulated environment. Users can interact with this environment 
	as if it were real, allowing for immersive experiences in gaming, education, 
	training, and more.Virtual reality (VR) is a technology that uses headsets or other devices 
	to create a simulated environment. Users can interact with this environment 
	as if it were real, allowing for immersive experiences in gaming, education, 
	training, and more.Virtual reality (VR) is a technology that uses headsets or other devices 
	to create a simulated environment. Users can interact with this environment 
	as if it were real, allowing for immersive experiences in gaming, education, 
	training, and more.Virtual reality (VR) is a technology that uses headsets or other devices 
	to create a simulated environment. Users can interact with this environment 
	as if it were real, allowing for immersive experiences in gaming, education, 
	training, and more.Virtual reality (VR) is a technology that uses headsets or other devices 
	to create a simulated environment. Users can interact with this environment 
	as if it were real, allowing for immersive experiences in gaming, education, 
	training, and more.Virtual reality (VR) is a technology that uses headsets or other devices 
	to create a simulated environment. Users can interact with this environment 
	as if it were real, allowing for immersive experiences in gaming, education, 
	training, and more.Virtual reality (VR) is a technology that uses headsets or other devices 
	to create a simulated environment. Users can interact with this environment 
	as if it were real, allowing for immersive experiences in gaming, education, 
	training, and more.Virtual reality (VR) is a technology that uses headsets or other devices 
	to create a simulated environment. Users can interact with this environment 
	as if it were real, allowing for immersive experiences in gaming, education, 
	training, and more."  %}
	{% include 'template_faq_item.html' %}

	{% set active="" %}
	{% set title="How much does your VR services cost?" %}
	{% set description="Virtual reality (VR) is a technology that uses headsets or other devices 
	to create a simulated environment. Users can interact with this environment 
	as if it were real, allowing for immersive experiences in gaming, education, 
	training, and more."  %}
	{% include 'template_faq_item.html' %}

	{% set active="" %}
	{% set title="What equipment do I need to use your VR services?" %}
	{% set description="Virtual reality (VR) is a technology that uses headsets or other devices 
	to create a simulated environment. Users can interact with this environment 
	as if it were real, allowing for immersive experiences in gaming, education, 
	training, and more."  %}
	{% include 'template_faq_item.html' %}

	{% set active="" %}
	{% set title="Can I try out your VR services before I commit?" %}
	{% set description="Virtual reality (VR) is a technology that uses headsets or other devices 
	to create a simulated environment. Users can interact with this environment 
	as if it were real, allowing for immersive experiences in gaming, education, 
	training, and more."  %}
	{% include 'template_faq_item.html' %}


	
</div>