<section class="vi-questions">
	<div class="vi-slogan">
		<div class="vi-slogan__subtitle">
			FAQ
		</div>
	
		<div class="vi-slogan__tittle">
			
			<h2>Frequently Asked Questions</h2>
		</div>
		<div class="vi-slogan__description">
			<p>
				We use the latest VR hardware and software to create high-quality VR experiences 
				that are accessible and affordable. Our goal is to provide exceptional customer 
				service and support, and our team is always available to answer any questions and 
				address any concerns you may have.
			</p>
		</div>
	{% include 'template_faq_block.html' %}
		
		
	</div>
	{% include 'template_subscribe.html' %}

</section>