<section class="vi-ourarticles">
	<div class="vi-graphics">
		<div class="vi-graphics__backgroundimg" data-bg="img/svg/Reshetka.svg">
		</div>
		<div class="vi-graphics__shining-desktop">

		</div>
		<div class="vi-graphics__shining-mobile">

		</div>
	</div>
	<div class="vi-ourarticles__inner">
		<div class="vi-ourarticles__item">
			<div class="vi-slogan">
				<div class="vi-slogan__subtitle">
					OUR ARTICLES
				</div>

				<div class="vi-slogan__tittle">

					<h2>Stay Up-to-Date with Our VR Insights</h2>
				</div>



			</div>

		</div>

	</div>
	<div class="vi-overview">
		<div class="vi-overview__item">

		</div>
		<div class="vi-overview__item">
			<div class="vi-recent-box">
				<div class="vi-recent-box__name">
					Recent Article

				</div>



				<div class="vi-recent-box__item">
					{% set imgSrc="glassess.jpg" %}
					{% set imgAlt="glassess" %}
					{% set boxTitle="VR Education" %}
					{% set boxDescription="The Future of Education: How VR is Revolutionizing the Classroom" %}
					{% include 'template-recen-box__flex.html' %}


				</div>
				<div class="vi-recent-box__item">
					{% set imgSrc="man_in_glassess.jpg" %}
					{% set imgAlt="man_in_glassess" %}
					{% set boxTitle="VR Architecture " %}
					{% set boxDescription="Bringing Designs to Life: How VR is Changing Architecture" %}
					{% include 'template-recen-box__flex.html' %}

				</div>
				<div class="vi-recent-box__item">
					{% set imgSrc="glassess_hand.jpg" %}
					{% set imgAlt="glassess_hand" %}
					{% set boxTitle="VR Entertainment " %}
					{% set boxDescription="Making Events Memorable: The Power of VR for Corporate and Special Occasions" %}
					{% include 'template-recen-box__flex.html' %}

				</div>
				<div class="vi-recent-box__item">
					{% set imgSrc="people.jpg" %}
					{% set imgAlt="people" %}
					{% set boxTitle="VR Event " %}
					{% set boxDescription="Exploring New Worlds: The Benefits of VR Travel" %}
					{% include 'template-recen-box__flex.html' %}

				</div>

				<div class="vi-recent-box__item">
					{% set imgSrc="man_in_glass2.jpg" %}
					{% set imgAlt="man_in_glass2" %}
					{% set boxTitle="VR Games " %}
					{% set boxDescription="Entertainment Goes Virtual: The Rise of VR Gaming" %}
					{% include 'template-recen-box__flex.html' %}

				</div>

				<div class="vi-recent-box__item">
					{% set imgSrc="teenns.jpg" %}
					{% set imgAlt="teenns" %}
					{% set boxTitle="VR Games " %}
					{% set boxDescription="Entertainment Goes Virtual: The Rise of VR Gaming" %}
					{% include 'template-recen-box__flex.html' %}

				</div>

				<div class="vi-recent-box__item">
					{% set imgSrc="lapa.jpg" %}
					{% set imgAlt="lapa" %}
					{% set boxTitle="VR Education " %}
					{% set boxDescription="The Future of Education: How VR is Revolutionizing the Classroom" %}
					{% include 'template-recen-box__flex.html' %}

				</div>

				<div class="vi-recent-box__item">
					{% set imgSrc="glasseesin.jpg" %}
					{% set imgAlt="glasseesin" %}
					{% set boxTitle="VR Education " %}
					{% set boxDescription="The Future of Education: How VR is Revolutionizing the Classroom" %}
					{% include 'template-recen-box__flex.html' %}

				</div>

				<div class="vi-recent-box__item">
					{% set imgSrc="teen_drive.jpg" %}
					{% set imgAlt="teen_drive" %}
					{% set boxTitle="VR Event " %}
					{% set boxDescription="Exploring New Worlds: The Benefits of VR Travel" %}
					{% include 'template-recen-box__flex.html' %}

				</div>

				
					


				</div>
				


			</div>
		</div>

</section>