body {
	font-size: toRem(16);
	font-style: normal;
	font-weight: 300;
	line-height: toRem(28);
}

.vi-wrapper {
	padding: 0 toRem(30);

	.vi-headcontainer {
		padding: toRem(25) 0;
	}
	&__desktopbg{
		display: block;

	}
	&__mobilebg{
		display: none;

	}
}

.vi-headers {
	&__hamburger{
		display: none;
	}
	&__contactbutton{
		padding: toRem(12) toRem(24);
		
	}
}

.vi-menu {
	&__top {
		gap: toRem(40);
	}

	&__item {
		gap: toRem(4);
	}
	
}
