.vi-ourteam {
	padding: toRem(150) 0;
	&__item {
		.vi-ourteam-card{
			background-position: center;
			&__item{
				padding-top: toRem(300);
			}
			&__tittle{
				@include Heading_10;
				color: #FFF;
			}
			&__subtittle{
				@include Body_4;
				color: #FFF;
			}
		}
	}

	.vi-slogan {
		
		gap: toRem(12);
		&__subtitle {
			color: #0CBAF1;
			display: block;

		}

		&__tittle {
			position: relative;

		}
	}

	.vi-ourteam-box {
		&__button {
			padding: toRem(18) toRem(38);
			@include Button_1;
			top: - toRem(60);
			}
			&__inner {
				display: flex;
				gap: 1%;
			}
	
			&__item {
				width: 25%;
				padding: toRem(9);
			}
		}

		

	}