h1{
	font-size: toRem(64);
}

.vi-top {
	.vi-graphics {
		&__background {
			left: - toRem(120);
			top: toRem(85);
		}

		&__shining-desktop {
			margin: 0px toRem(120);
		}

		&__shining-mobile {
			display: none;
		}
	}

	&__inner {
		display: flex;
	}

	&__item:nth-child(1) {
		width: 60%;
		.vi-slogan{
			&__tittle {
		
				width: 540px;
			}
			&__description {
				width: 446px;
				margin-bottom: toRem(32);
			}
		
			&__low {
				margin-top: toRem(81);
			}

		}

		
	}

	&__item:nth-child(2) {
		padding: toRem(55) 0 0 0;
	}
}

.vi-button {
	padding: toRem(18) toRem(38);
	font-size: toRem(14);
	line-height: toRem(14);
}

.vi-happyclient {
	gap: toRem(15);

	&__box {
		gap: toRem(18);
	}

	&__number {
		position: relative;
		color: #fff;
		font-family: Chakra Petch;

		span {
			font-size: toRem(16);
			line-height: toRem(28);
			margin-right: toRem(10);
		}
	}
}

.vi-chooseus {
	padding: toRem(42) toRem(65) toRem(53) toRem(53);
	gap: toRem(50);

	&__tittle {
		margin-top: toRem(42);
		font-size: toRem(20);
	}

	&__description{
		margin-top: toRem(12);
		font-size: toRem(14);
		line-height: toRem(28);
	}
}
.vi-slogan {
	gap: toRem(12);



	
}