h2{
	font-size: toRem(48);
	line-height: toRem(58);
}

.vi-aboutus{
	padding: toRem(200) 0 0 0;

	.vi-graphics{
		


		&__background{
			top: toRem(45);
			width: 300.007px;
			height: 373.396px
		}
		&__shining-desktop{
			position: absolute;
			
			margin-top: - toRem(180);
    		margin-left: toRem(80);

		}
		&__shining-mobile{

		}
	}

	&__inner{
		display: flex;

	
	}
	&__item:nth-child(1){
		position: relative;
		width: 43%;
	

	}
	&__item:nth-child(2){
		position: relative;
		width: 57%;
		.vi-slogan{
			&__tittle{
				width: 100%;
			}
			&__description{
				width: 100%;
				margin-bottom: toRem(12);

			}
			&__list{
				display: flex;
				flex-direction: column;
				gap: toRem(14);
				margin-bottom: toRem(32);

			}
			&__in-list{
				display: flex;
				align-items: center;
				gap: toRem(12);
				font-family: Chakra Petch;
				font-size: toRem(16);
				font-style: normal;
				font-weight: 400;
				line-height: toRem(28); 
				color: #FFF;

			}
		}

	}
	&__pic{
		display: none;
		left: toRem(45);
    	top: - toRem(80);

	}
	&__video{
	
		right: toRem(15);
		bottom: - toRem(23);

	}
	&__picmobile{
		display: block;
		
		
    	top: - toRem(50);

	}
	&__videomobile{
	
		right: toRem(15);
		bottom: - toRem(23);

	}


}